{
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "rules": {
    "semi": ["error", "always"]
  },
  "env": {
    "browser": true,
    "node": true,
    "commonjs": true,
    "es6": true,
    "jquery": true
  }
}
